# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Uploads
uploads/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db