*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    min-height:100vh;
}

.container{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:520px;
    padding:40px;
    background:#1f2937;
    border-radius:20px;
    text-align:center;
    color:white;
    box-shadow:0 15px 40px rgba(0,0,0,.4);
}

.card h1{
    font-size:52px;
    margin-bottom:20px;
}

.subtitle{
    color:#cbd5e1;
    font-size:18px;
    margin-bottom:30px;
}

.features{
    margin:30px 0;
}

.features p{
    margin:12px 0;
    font-size:18px;
}

input[type=file]{
    margin:20px 0;
    color:white;
}

textarea{
    width:100%;
    margin-top:20px;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#111827;
    color:white;
    resize:vertical;
}

button{
    width:100%;
    margin-top:20px;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#3b82f6;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#2563eb;
    transform:translateY(-2px);
}
/* ---------------- Loading Screen ---------------- */

.loading-screen{

    display:none;

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:100%;

    background:#0f172a;

    z-index:9999;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    color:white;

}

.loader{

    width:70px;

    height:70px;

    border:8px solid #334155;

    border-top:8px solid #22c55e;

    border-radius:50%;

    animation:spin 1s linear infinite;

    margin-bottom:20px;

}

.loading-screen h2{

    margin-top:20px;

    font-size:40px;

}

.loading-screen p{

    margin-top:10px;

    font-size:20px;

    color:#cbd5e1;

}

@keyframes spin{

0%{
transform:rotate(0deg);
}

100%{
transform:rotate(360deg);
}

}
body.light{

    background:#f3f4f6;

    color:black;

}

body.light .section,
body.light .card,
body.light .stat-card{

    background:white;

    color:black;

}