<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>

<div class="container">

    <div class="card">

        <h1>🤖 AI Resume Analyzer</h1>

        <p class="subtitle">
            Upload your resume and receive an ATS score, personalized feedback, and AI-powered improvement suggestions in seconds.
        </p>

        <div class="features">
            <p>✅ ATS Compatibility Score</p>
            <p>✅ Skill Gap Detection</p>
            <p>✅ AI Resume Suggestions</p>
            <p>✅ Recruiter-Friendly Feedback</p>
        </div>

        <form id="resumeForm" action="/upload" method="POST" enctype="multipart/form-data">

    <input
        type="file"
        name="resume"
        accept=".pdf,.doc,.docx"
        required>

    <br><br>


    <textarea
        name="job_description"
        placeholder="Paste Job Description Here..."
        rows="8">
    </textarea>
    <button type="submit">
        🚀 Analyze My Resume
    </button>

    

</form>


    </div>

</div>

<div id="loadingScreen" class="loading-screen">

    <div class="loader"></div>

    <h2>🤖 AI Resume Analyzer</h2>

    <p>Analyzing your resume...</p>

</div>
<script>

document.getElementById("resumeForm").addEventListener("submit",function(){

document.getElementById("loadingScreen").style.display="flex";

});

</script>

</body>
</html>